@media (max-width: 768px) {
  .card-img {
    min-height: 500px;
  }
  .container {
    overflow: hidden;
  }
}

@media (max-width: 500px) {
  .card-img {
    min-height: 200px;
  }
  .container {
    overflow: auto;
  }
}
:root {
  --background-text-color: linear-gradient(
    to right,
    #fbc2eb 0%,
    #a6c1ee 51%,
    #fbc2eb 100%
  );
  --footer-text-color: linear-gradient(
    to right,
    #e117a8 0%,
    #1348a3 51%,
    #f554c7 100%
  );
}

h1 {
  font-size: 48px;
}
h1,
.text-properties {
  background-image: var(--footer-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: sans-serif;
}
h2 {
  background-image: var(--background-text-color);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 5px;
  font-size: 28px;
}
select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  background-color: #191c1f;
  background: #191c1f;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  display: flex;
  flex: 1;
}
#cities {
  margin-top: 20px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}

.time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
